.env
.idea/
data/processed/summaries
data/processed/tables
data/processed/texts
data/vector_db
src/__init__.py
src/__pycache__
src/evaluation/__init__.py
src/evaluation/__pycache__/
src/ingestion/__init__.py
src/ingestion/__pycache__/
src/models/__init__.py
src/models/__pycache__
src/prompts/__init__.py
src/prompts/__pycache__/
outputs/